<h1>Frequently Asked Questions</h1>

<%= render 'form' %>

<div class="accordion" id="accordion2">
  <% @faqs.each do |faq| %>                     
    <%= render 'question', :faq => faq %>
  <% end %>
</div>
