<h1>Maintenance Requests</h1>

<table class="table striped">
  <tr>
    <th>Tenant</th>
    <th>Property</th>
    <th>Request</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maintenance_requests.each do |maintenance_request| %>
  <tr>
    <td><%= maintenance_request.user.name if maintenance_request.user %></td>
    <td><%= maintenance_request.user.rental.name if maintenance_request.user && maintenance_request.user.rental %></td>
    <td><%= maintenance_request.request %></td>
    <td><%= link_to 'Complete', maintenance_request, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %></td>
  </tr>
<% end %>
</table>
