<h4 style="color:blue;"><%= bank.name %></h4>
<%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn-nTSk0IdTh0nkTNCxeo-8ykV7e03on0Bgtmr0LYy-fla4Ukm", height: '100', width: '100') %>
<p style="color:blue;"><%= bank.address %></p>