<td><%= link_to 'Show', user, :class => "btn btn-info btn-small"  %></td>
<td><%= link_to 'Edit', edit_user_path(user), :class => "btn btn-success btn-small" %></td>
<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small"  %></td>