<h1>Editing <%= @rental.name if @rental.name %></h1>

<%= render 'form' %>

<%= link_to 'Show Rental', @rental, :class => "btn btn-success btn-small" %> |
<%= link_to 'Back', rentals_path, :class => "btn btn-info btn-small" %>
