<h1>Property/Tenant Matches</h1>
         
<h2><%= link_to "New Match", match_path, :class => "btn btn-primary" %></h2>

<table class="table table-striped">
  <tr>
    <th>Tenant</th>
    <th>Property</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <% if match && match.user %>
      <td><%= match.user.name %></td>
      <td><%= match.name %></td>
      <td><%= link_to 'Destroy', destroy_match_path(match.user.name, match.name), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small"%></td>
    <% end %>
  </tr>
<% end %>
</table>
