th.sortable{
    font-weight: bold;
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: center;
}

th.headerSortUp {
    background-image: url("black-asc.gif");
}
th.headerSortDown {
    background-image: url("black-desc.gif")
}

.btn{
    width:10em;
    opacity: 0.72;
    line-height: 4em !important;
}

$bgs: front1, front2, front3, front4, front5, front6;
$index: length($bgs);

body{
	background: url('/images/#{nth($bgs, $index)}.jpeg') no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}

table {
}

.box_container {
    background-color:rgba(78,138, 134, 0.8);
        color: white;
}	