th.sortable{
    font-weight: bold;
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: center;
}

th.headerSortUp {
    background-image: url("black-asc.gif");
}
th.headerSortDown {
    background-image: url("black-desc.gif")
}

.btn{
    width:10em;
    opacity: 0.72;
    line-height: 4em !important;
    margin: 2%;
}

.box_container {
    background-color:rgba(78,138, 134, 0.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    padding: 2%;
    text-align:center;
    margin-top: 5%;
}

a {
    color: black !important;
}

.field {
    width:10em;
    opacity: 0.72;
    line-height: 4em !important;
    color: black; 
}

textarea {
    max-height: 98%;
    max-width: 98%; 
}