th.sortable{
    font-weight: bold;
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: center;
}

th.headerSortUp {
    background-image: url("black-asc.gif");
}
th.headerSortDown {
    background-image: url("black-desc.gif")
}