<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Third Street Capital</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
      	  <li><%= link_to "Contact", '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>